.ion-md-share {
  color: #31D55F;
}

.ion-md-arrow-dropright-circle {
  color: #508AE4;
}

.ion-md-heart-outline {
  color: #ED4248;
}

.action-sheet-cancel ion-icon,
.action-sheet-destructive ion-icon {
  color: #757575;
}
