<ion-header>
  <ion-navbar color="blue">
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <div *ngIf="selectedItem" class="selection">
      <ion-card-header>
        {{selectedItem.title}}
      </ion-card-header>
      <ion-card-content>
        <p><ion-icon class="icon" name="{{selectedItem.icon}}"></ion-icon> Você está nos detalhes do <b>{{selectedItem.title}}</b></p>
      </ion-card-content>
    </div>
  </ion-card>
</ion-content>
