.home-page {
  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
    text-align: justify;
  }

  img {
    text-align: center;
  }

  ion-card-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #1A237E;
  }

  button {
    text-align: center;
  }
}

.card-ios,
.card-md,
.card-wp {
  box-shadow: none !important;
}
